<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby:/home/gabriele/NetBeansProjects/TripAdvisor/db</param-value>
        
    </context-param>
    <context-param>
        <param-name>webAddress</param-name>
        <!--<param-value>192.168.43.129:8084</param-value>-->
        <param-value>localhost:8084</param-value>
    </context-param>
    <context-param>
        <param-name>photoDir</param-name>
        <param-value>photo</param-value>
    </context-param>
    <context-param>
        <param-name>qrDir</param-name>
        <param-value>qrTemp</param-value>
    </context-param>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    
    <filter>
        <filter-name>LoggedInFilter</filter-name>
        <filter-class>filters.LoggedInFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdvancedSearchParameterFilter</filter-name>
        <filter-class>filters.AdvancedSearchParameterFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoggedOutFilter</filter-name>
        <filter-class>filters.LoggedOutFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GlobalFilter</filter-name>
        <filter-class>filters.GlobalFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RestaurateurFilter</filter-name>
        <filter-class>filters.RestaurateurFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>JspFilter</filter-name>
        <filter-class>filters.JspFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JspFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GlobalFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdvancedSearchParameterFilter</filter-name>
        <url-pattern>/RestaurantsList</url-pattern>
        <url-pattern>/home</url-pattern>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggedInFilter</filter-name>
        <url-pattern>/Review</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoggedOutFilter</filter-name>
        <url-pattern>/register.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RestaurateurFilter</filter-name>
        <url-pattern>/ManageRestaurant</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/NotificationAdmin</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.WebappContextListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>MailForm</servlet-name>
        <jsp-file>/mail_form.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MailForm</servlet-name>
        <url-pattern>/MailForm</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>servlets.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClaimRestaurantServlet</servlet-name>
        <servlet-class>servlets.ClaimRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationAdminServlet</servlet-name>
        <servlet-class>servlets.NotificationAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationRestaurantServlet</servlet-name>
        <servlet-class>servlets.NotificationRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRestaurantServlet</servlet-name>
        <servlet-class>servlets.ManageRestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantServlet</servlet-name>
        <servlet-class>servlets.RestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantsListServlet</servlet-name>
        <servlet-class>servlets.RestaurantsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <servlet-class>servlets.PasswordRecoveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateChangePasswordServlet</servlet-name>
        <servlet-class>servlets.ValidateChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>servlets.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoUploadServlet</servlet-name>
        <servlet-class>servlets.PhotoUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>servlets.MapServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClaimRestaurantServlet</servlet-name>
        <url-pattern>/ClaimRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationAdminServlet</servlet-name>
        <url-pattern>/NotificationAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationRestaurantServlet</servlet-name>
        <url-pattern>/NotificationRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageRestaurantServlet</servlet-name>
        <url-pattern>/ManageRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantServlet</servlet-name>
        <url-pattern>/Restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantsListServlet</servlet-name>
        <url-pattern>/RestaurantsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <url-pattern>/PasswordRecovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateChangePasswordServlet</servlet-name>
        <url-pattern>/ValidateChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoUploadServlet</servlet-name>
        <url-pattern>/PhotoUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/Map</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <error-page>
        <location>/error_page.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
