<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby:/home/gabriele/NetBeansProjects/TripAdvisor/db</param-value>
    </context-param>
    <context-param>
        <param-name>photoDir</param-name>
        <param-value>photo</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoggedInFilter</filter-name>
        <filter-class>filters.LoggedInFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedInFilter</filter-name>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-name>ReviewServlet</servlet-name>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.WebappContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantServlet</servlet-name>
        <servlet-class>servlets.RestaurantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantsListServlet</servlet-name>
        <servlet-class>servlets.RestaurantsListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <servlet-class>servlets.PasswordRecoveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateChangePasswordServlet</servlet-name>
        <servlet-class>servlets.ValidateChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>servlets.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoUploadServlet</servlet-name>
        <servlet-class>servlets.PhotoUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantServlet</servlet-name>
        <url-pattern>/Restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantsListServlet</servlet-name>
        <url-pattern>/RestaurantsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordRecoveryServlet</servlet-name>
        <url-pattern>/PasswordRecovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateChangePasswordServlet</servlet-name>
        <url-pattern>/ValidateChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoUploadServlet</servlet-name>
        <url-pattern>/PhotoUpload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
